.code-workspace
.directory
.nmlcache
*.cacheindex
*.cache
__pycache__

# Old versions of the GRF

# Backup folders of stuff in case I screw up
backup/
version_history/
previous/
testing/

# Research and Docs
research/