.code-workspace
.directory
.nmlcache
*.cacheindex
*.cache
__pycache__

# Old versions of the GRF

# Backup folders of stuff in case I screw up
backup/
backups/
version_history/
previous/
testing/
merged/

# Research and Docs
research/
docs/.~lock.buildings.ods#

# Dev files
buildingfileslog.txt
